/node_modules
/.pnpm-store
/vendor

/bootstrap/ssr
/public/build
/public/hot
/public/storage
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/pail

/.phpunit.cache
.phpunit.result.cache
.phpactor.json
/auth.json

.env
.env.ci
.env.backup
.env.production

npm-debug.log
yarn-error.log

Homestead.json
Homestead.yaml

/.fleet
/.idea
/.nova
/.vscode
/.zed
.DS_Store
